## Exercícios do Módulo 4 - Trabalhando com Bancos de Dados (SQL)

Tomei a liberdade de utilizar a função _generate_cpf()_ que gera um CPF aleatório.
#### _Exercício 1_

* Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: Id, nome, sobrenome, data_nasci, cpf e endereco;

* Criar uma tabela dados_profissionais com Id, graduacao, cargo, salario, e tempo_casa. Insira 4 registros em cada uma das tabelas.

In [1]:
import sqlite3
import cpf

In [2]:
# Criando o BD
conn = sqlite3.connect('funcionarios.db')

In [3]:
cur = conn.cursor()

In [4]:
# Criando as tables
cur.execute('CREATE TABLE dados_cadastrais(Id integer, nome text, sobrenome text, data_nasci date, cpf char, endereco text)')
cur.execute('CREATE TABLE dados_profissionais(Id integer, graduacao text, cargo text, salario float, tempo_casa)')

In [5]:
# Adicionando itens à table dados_cadastrais
cur.execute('INSERT INTO dados_cadastrais VALUES(1, "maria", "silva", "1993-07-18", ?, "Rua 1 - SP")', (cpf.generate_cpf(),))
cur.execute('INSERT INTO dados_cadastrais VALUES(2, "joao", "silva", "1985-11-25", ?, "Rua 2 - SP")', (cpf.generate_cpf(),))
cur.execute('INSERT INTO dados_cadastrais VALUES(3, "pedro", "pereira", "1990-05-22", ?, "Rua 8 - SP")', (cpf.generate_cpf(),))
cur.execute('INSERT INTO dados_cadastrais VALUES(4, "paulo", "ribeiro", "1981-07-05", ?, "Rua 9 - SP")', (cpf.generate_cpf(),))
conn.commit()

# Exibindo os dados
cur.execute('SELECT * FROM dados_cadastrais')
cur.fetchall()

[(1, 'maria', 'silva', '1993-07-18', '403.034.271-08', 'Rua 1 - SP'),
 (2, 'joao', 'silva', '1985-11-25', '148.279.923-55', 'Rua 2 - SP'),
 (3, 'pedro', 'pereira', '1990-05-22', '024.351.720-36', 'Rua 8 - SP'),
 (4, 'paulo', 'ribeiro', '1981-07-05', '222.626.571-65', 'Rua 9 - SP')]

In [6]:
# Adicionando itens à table dados_profissionais
cur.execute('INSERT INTO dados_profissionais VALUES(1, "matematica", "professor", 3500.89, 3)')
cur.execute('INSERT INTO dados_profissionais VALUES(2, "geografia", "orientador", 2850.8, 1)')
cur.execute('INSERT INTO dados_profissionais VALUES(3, "historia", "orientador", 3200.45, 1)')
cur.execute('INSERT INTO dados_profissionais VALUES(4, "física", "professor", 1890.33, 2)')
conn.commit()

# Exibindo os dados
cur.execute('SELECT * FROM dados_profissionais')
cur.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'física', 'professor', 1890.33, 2)]

#### _Exercício 2_

Usando a tabela dados_profissionais, escreva uma query que retorne todos os campos da tabela ordenando-os pela coluna tempo_casa, de maneira decrescente.

In [7]:
cur.execute('SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC')
cur.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'física', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

#### _Exercício 3_

Conte a quantidade de funcionários dessa empresa.

In [8]:
cur.execute('SELECT COUNT(Id) FROM dados_cadastrais')
cur.fetchall()

[(4,)]

#### _Exercício 4_

Usando a tabela dados_cadastrais, escreva uma query que liste apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

In [9]:
cur.execute('SELECT * FROM dados_cadastrais WHERE sobrenome == "silva" ORDER BY nome, sobrenome')
cur.fetchall()

[(2, 'joao', 'silva', '1985-11-25', '148.279.923-55', 'Rua 2 - SP'),
 (1, 'maria', 'silva', '1993-07-18', '403.034.271-08', 'Rua 1 - SP')]

#### _Exercício 5_

Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela dados_profissionais.(Ou seja, somar os salários em cada cargo)

In [10]:
cur.execute('SELECT ROUND(SUM(salario), 2), cargo FROM dados_profissionais GROUP BY cargo')
cur.fetchall()

[(6051.25, 'orientador'), (5391.22, 'professor')]